@import url( 'reset.css' );

@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto-regular-webfont.eot');
    src: url('../font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-regular-webfont.woff') format('woff'),
         url('../font/roboto-regular-webfont.ttf') format('truetype'),
         url('../font/roboto-regular-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('../font/roboto-bold-webfont.eot');
    src: url('../font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-bold-webfont.woff') format('woff'),
         url('../font/roboto-bold-webfont.ttf') format('truetype'),
         url('../font/roboto-bold-webfont.svg#DroidSansRegular') format('svg');
    font-weight: bold;
    font-style: bold; 
}

body, html {
    background: #E0E0E0; font-family: "Roboto", arial; color: #333333; height: 99%;
}

h1 { font-size: 32px; line-height: 55px; text-shadow: 1px 1px 1px #B8B8B8; }
h2 { font-size: 20px; line-height: 38px; text-shadow: 1px 1px 1px #B8B8B8; }
h3 { font-size: 16px; line-height: 32px; text-shadow: 1px 1px 1px #B8B8B8; }
p { font-size: 12px; line-height: 18px; }

/* Wrapper */
#wrapper { width: 100%; height: 99%; overflow-y: hidden; overflow-x: visible; }
/* createTask -view */
#createTask { background: #141414; width: 100%; height: 70px; padding: 10px 0; }
    .create-task-holder { margin: 10px; }
    #createTask select { color: #A3A3A3; border: 0; background: #3D3D3D; padding: 10px; font-family: "Roboto"; font-size: 14px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; line-height: 20px; }
    #createTask option { font-size: 12px; line-height: 18px; font-family: "Roboto", arial; }
    #createTask input { color: #A3A3A3; border: 0; background: #3D3D3D; padding: 10px; font-family: "Roboto"; font-size: 14px; font-family: "Roboto", arial; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; line-height: 20px; }


#dimmer { display: none; background: url('../img/dimmer.png'); width: 100%; height: 100%; position: absolute; z-index: 1; }

#create-user { margin: 20% auto; width: 350px; padding: 6px; border: 1px solid #999999; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 0 0 5px #B8B8B8; -webkit-box-shadow: 0 0 5px#B8B8B8; box-shadow: 0 0 5px #B8B8B8; background: #fff; }

#todos-holder{ max-height: 90%; width: 99%; overflow: hidden; }
.todo-wrapper { max-height: 90%; width: 99%; overflow: hidden; }

.category { width: 300px; height: 550px; float: left; padding: 0px 10px; overflow: auto; }
    .category h2 { text-transform: lowercase; font-variant : small-caps;}
    .todo  { overflow: hidden; padding: 6px; margin: 0 0 10px 0; border: 1px solid #999999; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; -moz-box-shadow: 0 0 5px #B8B8B8; -webkit-box-shadow: 0 0 5px#B8B8B8; box-shadow: 0 0 5px #B8B8B8; }
    
    .todo .todo-content { width: 230px; float: left; }
        .todo-content p { font-size: 12px; line-height: 18px;}
        .todo-content p.status, .todo-content p.user-info { font-style : italic; color: #666; }

    .todo .todo-actions { float: right; }
        .todo-actions img { margin: 2px 2px; display: block; }
        .todo-actions img:hover { cursor: pointer; }