<!doctype html>
<html>
<head>
    <title>ToDo by Dzemal Becirevic</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <script type="text/javascript" src="js/lib/require.js" data-main="js/main"></script>

    <!-- Templates -->
    <script type="text/template" id="create-task-template">
        <div class="create-task-holder">
            <form method="POST" id="create-task-form">
                <input type="text" name="task-content" class="task-content" size="60" />
        		<select name="select-category" id="create-task-select-category" class="task-category">
                    <% _.each( category, function( category ) { %>
                        <option value="<%= category.attributes.id %>"><%= category.attributes.label %></option>
                    <% }); %>
                </select>
                <input type="button" name="task-submit" id="submit-task-form" value="Add task" />
        	</form>
            <input type="button" name="clear-completed" id="clear-completed" value="Clear completed tasks" />
            <a href="#newCategory"><input type="button" name="new-category" id="new-category" value="Add new category" /></a>
            
        </div>
    </script>

    <!-- Create user template. -->
    <script type="text/template" id="create-user-template">
        <h2>Create user</h2>
        <form id="create-user-form">
            <label for="username">username:</label>
            <input type="text" name="username" id="input-username" />
            <input type="button" name="user-submit" id="submit-create-user-form" value="Create user" /> 
        </form>
    </script>
    
    <!-- Create category template. -->
    <script type="text/template" id="create-category-template">
        <h2>Create category</h2>
        <form id="create-category-form">
            <label for="category">category:</label>
            <input type="text" name="category" id="input-category"/>
            <input type="button" name="category-submit" id="submit-create-category-form" value="Create category" /> 
        </form>
    </script>

    <!-- TodoList template -->
    <script type="text/template" id="todo-list-template">
            <% _.each( categories, function( categories ) { %>
                <div class="todo-holder <%= categories.attributes.label %>">
                    
                </div>
            <% }); %>
    </script>

    <!-- Todos -->
    <script type="text/template" id="todo-template">
            <div class="todo-actions">
                <img src="img/accept.png" alt="Complete task" title="Mark task as completed" class="mark-completed" />
                <img src="img/cancel.png" alt="Delete" title="Delete task" class="delete-todo" />
            </div>
            <div class="todo-content">
                <p><%= todo.content %></p>
                <p class="user-info"><%= todo.user.attributes.name %></p>
            </div>
    </script>

</head>
<body>
     <div id="dimmer">
        <div id="create-user">
        </div>  
    </div>
    
    <div id="category-dimmer">
        <div id="new-category-div">
        </div>  
    </div>
   
    
	<div id="wrapper">

		<div id="createTask">

    		</div>
            <div id="todos-holder">
           
        </div>
       
	</div>
</body>
</html>